.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.link {
  position: relative;
  text-decoration: none;
}

.link,
.link::after,
.link::before {
  transition: 0.3s;
}

.link-animation::before,
.link-animation::after {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  border-bottom: 2px solid #fff;
}

.link-animation::before {
  right: 50%;
}

.link-animation::after {
  left: 50%;
}

.link-animation:hover::before,
.link-animation:hover::after {
  width: 50%;
}

.two::before,
.two::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.two::before {
  top: -1px;
  left: -5px;
  border-top: 0 solid #fff;
  border-left: 0 solid #fff;
}

.two::after {
  bottom: -1px;
  right: -5px;
  border-bottom: 0 solid #fff;
  border-right: 0 solid #fff;
}

.two:hover::before,
.two:hover::after {
  width: 50px;
  height: 50%;
}

.two:hover::before {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.two:hover::after {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

.button-in {
  border: none;
  transition: 0.5s;
}

.button-in:hover {
  box-shadow: 2px 3px 0 0 rgba(255, 255, 255, 0.8), inset 11px 6px 10px rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #d4d4d4 #313866;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #313866;
}

*::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  border-radius: 9px;
  border: 0px solid #ffffff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: #d4d4d4;
  background-color: #313866;
}

a {
  text-decoration: none;
}

.error {
  font-size: 1.6rem;
  color: rgb(255, 58, 58);
}

.nav__mobile {
  display: none;
}
.nav__mobile--bars {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: none;
  cursor: pointer;
}
.nav__mobile--bars i {
  padding: 20px;
  font-size: 3rem;
  color: #d4d4d4;
}
.nav__desktop {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 65px;
  background-color: #614faf;
  margin: 30px auto;
  padding: 0px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px #282d50;
}
.nav__dropdown {
  position: absolute;
  display: flex;
  width: 90%;
  height: 400px;
  left: 90px;
  top: 75px;
  padding: 10px;
  background-color: #614faf;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.nav__dropdown--left {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.nav__dropdown--left a {
  width: 100px;
  color: #d4d4d4;
  font-size: 20px;
  padding: 10px 10px;
  text-align: center;
}
.nav__dropdown--right {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav__dropdown--right img {
  width: 150px;
  height: 200px;
}
.nav__dropdown--right p {
  margin-top: 20px;
  font-size: 22px;
}
.nav__items {
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
}
.nav__item {
  padding: 10px 20px;
  font-size: 2rem;
  color: #d4d4d4;
  outline-color: #d4d4d4;
  outline-width: 1px;
}
.nav__item--logo {
  background-image: url(../img/logo_transparent.png);
  background-size: cover;
  margin: 20px;
  height: 55px;
  width: 55px;
}
.nav__user {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav__user--cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: transform 0.3s;
  text-wrap: nowrap;
}
.nav__user--cart p {
  color: #d4d4d4;
  font-size: 1.7rem;
}
.nav__user--cart i {
  font-size: 3rem;
  color: #d4d4d4;
}
.nav__user--cart:hover {
  transform: scale(1.2);
}
.nav__user--search {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px;
}
.nav__user--search input {
  width: 200px;
  height: 40px;
  padding: 10px;
  font-size: 1.7rem;
  background-color: #887ac9;
  border: none;
  border-radius: 10px;
  color: #d4d4d4;
}
.nav__user--search input::-moz-placeholder {
  color: #d4d4d4;
  font-size: 1.7rem;
}
.nav__user--search input::placeholder {
  color: #d4d4d4;
  font-size: 1.7rem;
}
.nav__user--search i {
  position: absolute;
  right: 0;
  font-size: 2.5rem;
  color: #d4d4d4;
  padding: 7px;
  cursor: pointer;
}

.login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url(../img/sunrise-982013_1920.jpg);
  background-size: cover;
  background-position: bottom;
}
.login__shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(49, 56, 102, 0.5);
}
.login__field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 500px;
  padding: 25px 40px;
  background-color: rgba(49, 56, 102, 0.8);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #282d50;
}
.login__field--back {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 20px;
  font-size: 3.5rem;
  color: #d4d4d4;
  transition: transform 0.3s;
}
.login__field--back:hover {
  transform: scale(0.8);
}
.login__field--logo img {
  height: 100px;
}
.login__field--paragraph {
  display: flex;
  gap: 5px;
  font-size: 1.7rem;
}
.login__field--paragraph a {
  color: #974EC3;
}
.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.login__form--input {
  height: 45px;
  width: 85%;
  border-radius: 10px;
  border: none;
  background: none;
  border-bottom: 2px solid #974EC3;
  text-align: center;
  color: #d4d4d4;
  font-size: 2rem;
  outline-color: #974EC3;
}
.login__form--input::-moz-placeholder {
  font-size: 1.8rem;
  color: #a3a3a3;
}
.login__form--input::placeholder {
  font-size: 1.8rem;
  color: #a3a3a3;
}
.login__form--error {
  display: none;
}
.login__form--checkbox {
  display: flex;
  gap: 5px;
}
.login__form--options {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  gap: 20px;
}
.login__form--options .remember_label {
  font-size: 1.8rem;
}
.login__form--options .remember_box {
  height: 25px;
  width: 25px;
  accent-color: #974EC3;
  cursor: pointer;
}
.login__form--options a {
  font-size: 1.8rem;
  color: #974EC3;
}
.login__form--send {
  width: 60%;
  height: 10%;
  background-color: #974EC3;
  font-size: 2rem;
  color: #d4d4d4;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline-color: #974EC3;
}
.login__form--remindParagraph {
  visibility: hidden;
  font-size: 2rem;
  color: #d857e9;
}

.register__popup {
  visibility: hidden;
  position: absolute;
  height: 150px;
  width: 40%;
  padding: 20px;
  background-color: #974EC3;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #282d50;
}
.register__popup--container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.register__popup--container button {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  background: none;
  border: none;
  cursor: pointer;
}
.register__popup--container i {
  color: #d4d4d4;
  font-size: 2.8rem;
}
.register__popup--p {
  font-size: 2rem;
}
.register__field {
  width: 650px;
  height: 630px;
}
.register__form {
  height: 60%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.register__form--input {
  width: 47%;
}
.register__form--number {
  display: flex;
  gap: 7px;
  width: 47%;
}
.register__form--number--2 {
  width: 100%;
}
.register__form--error {
  visibility: hidden;
  margin-top: 5px;
}
.register__form--send {
  width: 50%;
  height: 10%;
  margin-top: 5px;
}

.remind__field {
  width: 450px;
  height: 400px;
}
.remind__form--send {
  height: 50px;
}

.user {
  height: 85vh;
  width: 100%;
  display: flex;
  padding: 20px 60px;
}
.user__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 30%;
  border-right: 2px solid #887ac9;
}
.user__menu--item {
  padding: 20px 40px;
  font-size: 20px;
  color: #d4d4d4;
}
.user__section {
  height: 100%;
  width: 70%;
}

.visible {
  visibility: visible;
}

@media (max-width: 768px) {
  .login__field {
    height: 100%;
    width: 100%;
    border-radius: 0px;
    padding: 40px 30px;
  }
  .login__field--paragraph {
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
  }
  .login__form {
    justify-content: space-evenly;
  }
  .login__form--options {
    height: 80px;
    line-height: normal;
    flex-wrap: wrap;
  }
  .login__form--options .remember_label {
    font-size: 2rem;
    margin-left: 0px;
    margin-right: 0px;
  }
  .login__form--options .remember_box {
    height: 25px;
    width: 25px;
    accent-color: #974EC3;
    cursor: pointer;
  }
  .login__form--options a {
    font-size: 2rem;
  }
  .register {
    height: 1000px;
    width: 100%;
    overflow: scroll;
  }
  .register__popup {
    width: 80%;
  }
  .register__field {
    width: 100%;
    height: 100%;
  }
  .register__form {
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
  }
  .register__form--input {
    width: 70%;
  }
  .register__form--number {
    width: 70%;
  }
}
@media (max-width: 1200px) {
  .nav__item {
    padding: 10px;
    font-size: 1.7rem;
  }
  .nav__user--cart i {
    font-size: 2.5rem;
  }
}
@media (max-width: 992px) {
  .nav__mobile {
    display: block;
  }
  .nav__desktop {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */