.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.link {
  position: relative;
  text-decoration: none;
}

.link,
.link::after,
.link::before {
  transition: 0.3s;
}

.link-animation::before,
.link-animation::after {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  border-bottom: 2px solid #fff;
}

.link-animation::before {
  right: 50%;
}

.link-animation::after {
  left: 50%;
}

.link-animation:hover::before,
.link-animation:hover::after {
  width: 50%;
}

.link-animation-two::before,
.link-animation-two::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.link-animation-two::before {
  top: -1px;
  left: -5px;
  border-top: 0 solid #fff;
  border-left: 0 solid #fff;
}

.link-animation-two::after {
  bottom: -1px;
  right: -5px;
  border-bottom: 0 solid #fff;
  border-right: 0 solid #fff;
}

.link-animation-two:hover::before,
.link-animation-two:hover::after {
  width: 50px;
  height: 50%;
}

.link-animation-two:hover::before {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.link-animation-two:hover::after {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

.button-in {
  border: none;
  transition: 0.5s;
}

.button-in:hover {
  box-shadow: 2px 3px 0 0 rgba(255, 255, 255, 0.8), inset 11px 6px 10px rgba(0, 0, 0, 0.2);
}

@keyframes dropdownAnimation {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 53px;
    opacity: 1;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #d4d4d4 #121217;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: #121217;
}

*::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  border-radius: 12px;
  border: 0px solid #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: #d4d4d4;
  background-color: #121217;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.8rem;
}

.error {
  font-size: 1.6rem;
  color: rgb(255, 58, 58);
  margin: 0;
}

.linkButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  margin-top: 15px;
  border-radius: 8px;
  color: #d4d4d4;
  font-size: 2rem;
  border: none;
  background-color: rgb(38, 163, 201);
  box-shadow: 0px 0px 10px 5px #282d50;
  cursor: pointer;
  transition: transform 0.3s;
}
.linkButton:hover {
  transform: scale(1.1);
}

.button {
  height: 50px;
  width: 200px;
  margin-top: 15px;
  border-radius: 8px;
  color: #d4d4d4;
  font-size: 2rem;
  border: none;
  background-color: rgb(38, 163, 201);
  box-shadow: 0px 0px 10px 5px #282d50;
  cursor: pointer;
}

p {
  font-size: 1.5rem;
}

.nav {
  z-index: 30;
}
.nav__mobile {
  display: none;
}
.nav__mobile--bars {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: none;
  z-index: 10;
  cursor: pointer;
}
.nav__mobile--bars i {
  padding: 20px;
  font-size: 3rem;
  color: #d4d4d4;
}
.nav__mobileMenu {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  right: 0;
  height: 100vh;
  width: 450px;
  background-color: #24242d;
  z-index: -1;
}
.nav__mobileMenu hr {
  position: absolute;
  right: 0;
  width: 300px;
  height: 2px;
}
.nav__mobileMenu ul {
  list-style: none;
  font-size: 2.4rem;
  width: 100%;
}
.nav__mobileMenu .menu-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100px;
  width: 100%;
  cursor: pointer;
}
.nav__mobileMenu .menu-item p {
  color: #d4d4d4;
  padding: 20px 20px;
}
.nav__mobileMenu .menu-item p i {
  margin-right: 10px;
}
.nav__mobileMenu .dropdown {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: #1d1d24;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 8px;
  z-index: 10;
}
.nav__mobileMenu .dropdown-one {
  top: 100px;
}
.nav__mobileMenu .dropdown-two {
  top: 100px;
}
.nav__mobileMenu .dropdown-three {
  top: 100px;
}
.nav__mobileMenu .visible-menu {
  visibility: visible;
}
.nav__desktop {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  width: 90%;
  height: 65px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1d1d24;
  margin: 30px auto;
  padding: 0px 30px;
  border-radius: 10px;
  z-index: 30;
  position: fixed;
  box-shadow: 0px 0px 7px 5px #121217;
}
.nav__panelMenu {
  position: relative;
  left: 50%;
  transform: translateX(-55%);
}
.nav__dropdown {
  position: absolute;
  display: none;
  width: 90%;
  top: 53px;
  height: 420px;
  background-color: #1d1d24;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  animation: dropdownAnimation 0.25s ease-in-out;
}
.nav__dropdown--one {
  left: 60px;
}
.nav__dropdown--two {
  left: 240px;
}
.nav__dropdown--three {
  left: 320px;
}
.nav__dropdown--left {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.nav__dropdown--left a {
  width: 150px;
  color: #d4d4d4;
  font-size: 2rem;
  padding: 15px 30px;
  text-align: center;
}
.nav__dropdown--right {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav__dropdown--right img {
  width: 150px;
  height: 200px;
}
.nav__dropdown--right p {
  margin-top: 20px;
  font-size: 2.2rem;
}
.nav__dropdown:hover {
  display: flex;
}
.nav__items {
  grid-column: 1/4;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__item {
  padding: 10px 20px;
  font-size: 2rem;
  color: #d4d4d4;
  outline-color: #d4d4d4;
  outline-width: 1px;
}
.nav__item--logo {
  background-image: url(../img/logo_transparent.png);
  background-size: cover;
  height: 55px;
  width: 55px;
}
.nav__item:hover + .nav__dropdown {
  display: flex;
}
.nav__user {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav__user--popup {
  position: absolute;
  width: 300px;
  height: 100px;
  top: 75px;
  background-color: #1d1d24;
  border-radius: 10px;
  display: none;
}
.nav__user--popup .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.nav__user--popup .container p {
  font-size: 1.7rem;
  margin: 0;
  color: rgb(38, 163, 201);
}
.nav__user--popup .container .closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 2rem;
  color: #d4d4d4;
  padding: 5px 10px;
}
.nav__user--cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: transform 0.3s;
  text-wrap: nowrap;
}
.nav__user--cart p {
  margin: 0;
  color: #d4d4d4;
  font-size: 1.7rem;
}
.nav__user--cart i {
  font-size: 3rem;
  color: #d4d4d4;
}
.nav__user--cart:hover {
  transform: scale(1.2);
}
.nav__user--search {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px;
}
.nav__user--search input {
  width: 200px;
  height: 40px;
  padding: 10px;
  font-size: 1.7rem;
  background-color: #363644;
  border: none;
  border-radius: 10px;
  color: #d4d4d4;
}
.nav__user--search input::-moz-placeholder {
  color: #d4d4d4;
  font-size: 1.7rem;
}
.nav__user--search input::placeholder {
  color: #d4d4d4;
  font-size: 1.7rem;
}
.nav__user--search i {
  position: absolute;
  right: 0;
  font-size: 2.5rem;
  color: #d4d4d4;
  padding: 7px;
  cursor: pointer;
}

.header {
  height: 60vh;
  width: 100%;
}
.header__img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: url(../img/sunrise-982013_1920.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.header__img--shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.header__img--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.header__img--text h1 {
  font-size: 4rem;
}
.header__img--text p {
  font-size: 2rem;
}
.header__img--text a {
  font-size: 2rem;
  height: 40px;
  width: 150px;
  text-align: center;
  z-index: 10;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: rgb(38, 163, 201);
}

.headline {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}

.aboutus i {
  margin-top: 20px;
  font-size: 40px;
}
.aboutus .aboutus-card-title {
  font-size: 18px;
  text-transform: uppercase;
}
.aboutus .aboutus-card-text {
  font-size: 14px;
}
.aboutus .aboutus-hover {
  transition: color 0.3s;
}
.aboutus .aboutus-hover:hover {
  color: rgb(38, 163, 201);
}

.news {
  background-color: #24242d;
}
.news .carousel-item {
  position: relative;
  height: 600px;
}
.news .carousel-item img {
  border-radius: 8px;
}
.news .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.news .carousel-caption p {
  font-size: 1.5rem;
}
.news .carousel-indicators {
  padding-bottom: 20px;
}

.bestsellers {
  position: relative;
  background-image: url("../img/alcohol-1961542_1920.jpg");
  background-size: cover;
  background-attachment: fixed;
  z-index: 2;
}
.bestsellers .card-footer {
  font-size: 30px;
  color: #121217;
}
.bestsellers .card-footer a {
  text-decoration: none;
}
.bestsellers h2 {
  z-index: 2;
}
.bestsellers .underline {
  z-index: 2;
}
.bestsellers .card-body {
  height: 160px;
}
.bestsellers .card {
  transition: transform 0.3s;
}
.bestsellers .card img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.bestsellers .card i {
  padding: 10px;
}
.bestsellers .card:hover {
  transform: scale(0.96);
}
.bestsellers .team-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.bestsellers .card-title {
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.achievements i {
  padding: 20px;
  font-size: 48px;
  color: #d4d4d4;
  text-shadow: 0 0 5px #000;
}
.achievements .achievements-list {
  padding: 20px 0;
}
.achievements .achievement-number {
  font-size: 22px;
}
.achievements .achievement-text {
  font-size: 13px;
  text-transform: uppercase;
}

.contact {
  position: relative;
  background-image: url("../img/pistachios-3450670_1920.jpg");
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
}
.contact h2 {
  color: #d4d4d4;
  font-weight: bold;
}
.contact .underline {
  background-color: #d4d4d4;
}
.contact .contact-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 9, 27, 0.8);
  z-index: -5;
}
.contact .contact-us {
  display: flex;
  align-items: center;
  color: #d4d4d4;
}
.contact .contact-us .contact-item {
  margin: 30px 0;
}
.contact .contact-us .contact-item h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contact .contact-us .contact-item .social-media {
  font-size: 26px;
}
.contact .contact-us .contact-item .social-media a {
  padding: 10px;
  color: #d4d4d4;
  text-decoration: none;
}
.contact .contact-us .contact-item .social-media a:hover {
  color: rgb(38, 163, 201);
}

.cart {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding: 20px 7%;
}
.cart__left {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.cart__right {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart__addons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart__addons h3 {
  font-size: 2.7rem;
}
.cart__addons a {
  padding: 10px 20px;
  font-size: 2rem;
  transition: transform 0.3s;
  cursor: pointer;
}
.cart__addons a i {
  margin-right: 5px;
}
.cart__addons a:hover {
  transform: scale(0.94);
}
.cart__products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart__product {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #24242d;
  border-radius: 8px;
  padding: 0px 40px;
}
.cart__product--img {
  width: 80px;
  height: 80px;
}
.cart__product--name {
  font-size: 2.5rem;
  margin: 0;
}
.cart__product--price {
  font-size: 2.5rem;
  margin: 0;
}
.cart__product .number {
  display: flex;
}
.cart__product .number .minus,
.cart__product .number .plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background: none;
  color: #d4d4d4;
  border-radius: 4px;
  font-size: 2.5rem;
  border: 2px solid rgb(38, 163, 201);
  text-align: center;
  cursor: pointer;
}
.cart__product .number input {
  height: 34px;
  width: 50px;
  text-align: center;
  font-size: 2rem;
  background: none;
  color: #d4d4d4;
  border: 2px solid rgb(38, 163, 201);
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}
.cart__product--delete {
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  color: rgb(38, 163, 201);
}
.cart__buySection {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: #24242d;
  border-radius: 8px;
}
.cart__buySection--promoBtn {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 1.8rem;
  color: #d4d4d4;
  border: none;
  background: none;
}
.cart__buySection .input-box {
  height: 50px;
  align-items: center;
  justify-content: center;
  display: none;
  margin-bottom: 10px;
}
.cart__buySection .input-box input {
  height: 40px;
  width: 60%;
  font-size: 2rem;
  padding: 5px;
  border-radius: 8px;
  background: none;
  border: 2px solid #d4d4d4;
  color: #d4d4d4;
}
.cart__buySection .input-box button {
  height: 40px;
  width: 70px;
  font-size: 1.5rem;
  color: rgb(38, 163, 201);
  border: 2px solid rgb(38, 163, 201);
  border-radius: 8px;
  background: none;
}
.cart__priceSection {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 20px;
  background-color: #1d1d24;
  border-radius: 8px;
}
.cart__priceSection .priceBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart__priceSection .priceBox p {
  font-size: 2rem;
  font-weight: bold;
}
.cart__priceSection--buyBtn {
  width: 80%;
  height: 40px;
  margin: 0 auto;
  font-size: 2rem;
  color: #d4d4d4;
  background-color: rgb(38, 163, 201);
  border: none;
  border-radius: 8px;
  text-align: center;
  line-height: 40px;
  transition: transform 0.3s;
}
.cart__priceSection--buyBtn:hover {
  transform: scale(1.1);
}

.productCategories {
  display: flex;
  width: 100%;
  height: 100vh;
}
.productCategories__left {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.productCategories__left--headline {
  font-size: 2.7rem;
  margin-bottom: 30px;
}
.productCategories__left--link {
  width: 150px;
  font-size: 2.2rem;
  padding: 0px 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  text-align: center;
}
.productCategories__linkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
}
.productCategories__right {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.productCategories__categoryContainer {
  height: 60%;
  width: 80%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 30px;
}
.productCategories__categoryContainer--element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 170px;
  height: 170px;
  background-color: #24242d;
  border-radius: 8px;
  transition: transform 0.3s;
  cursor: pointer;
}
.productCategories__categoryContainer--element img {
  width: 100px;
  height: 100px;
}
.productCategories__categoryContainer--element p {
  color: #d4d4d4;
  font-size: 3rem;
}
.productCategories__categoryContainer--element:hover {
  transform: scale(1.1);
}

.products__left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 30%;
  padding: 30px;
}
.products__left--headline {
  font-size: 3.2rem;
}
.products__left--headline2 {
  font-size: 2.5rem;
}
.products__left--optionBox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}
.products__left--optionBox label {
  font-size: 1.8rem;
}
.products__left--optionBox input {
  width: 17px;
  height: 17px;
  accent-color: rgb(38, 163, 201);
}
.products__left--priceAdjust {
  display: flex;
  align-items: center;
  gap: 3px;
}
.products__left--priceAdjust input {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  font-size: 1.8rem;
  border: none;
  padding: 5px;
}
.products__left--priceAdjust input::-moz-placeholder {
  font-size: 1.5rem;
  text-align: center;
}
.products__left--priceAdjust input::placeholder {
  font-size: 1.5rem;
  text-align: center;
}
.products__left--priceAdjust hr {
  width: 20px;
  height: 2px;
  border: none;
  background-color: #747a99;
}
.products__filtersContainer {
  width: 225px;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 30px;
  gap: 10px;
  position: fixed;
}
.products__right {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.products__sortSection {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.products__sortSection--p {
  font-size: 2rem;
  margin: 0;
  margin-right: 10px;
}
.products__sortSection--select {
  width: 150px;
  height: 30px;
  font-size: 1.5rem;
  background-color: #363644;
  color: #d4d4d4;
  border-radius: 8px;
  border: none;
}
.products__productContainer {
  height: 60%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}
.products__product {
  width: 250px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #24242d;
  border-radius: 8px;
  transition: box-shadow 0.3s;
  cursor: pointer;
}
.products__product--image {
  width: 150px;
  height: 150px;
}
.products__product--name {
  color: #d4d4d4;
  font-size: 2.2rem;
  margin: 0;
}
.products__product--price {
  color: #d4d4d4;
  font-size: 2.7rem;
  margin: 0;
}
.products__product--addToCart {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #d4d4d4;
  background-color: rgb(38, 163, 201);
  border-radius: 8px;
  border: none;
  transition: transform 0.3s;
}
.products__product--addToCart:hover {
  transform: scale(1.1);
}
.products__product:hover {
  box-shadow: 0px 0px 7px 5px rgb(38, 163, 201);
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.summary h2 {
  text-align: center;
  font-size: 2.5rem;
}
.summary__backButton {
  width: 300px;
}
.summary__infoBox h3 {
  font-size: 2.3rem;
  margin-bottom: 20px;
}
.summary__infoBox span {
  font-weight: bold;
}

.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__topSection {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.product__image {
  width: 40%;
  height: 100%;
  background-image: url(../img/placeholder_image.jpg);
  background-size: cover;
}
.product__specs {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.product__specs--headline {
  margin-left: 10%;
  font-size: 3rem;
}
.product__specs__info {
  display: flex;
  justify-content: space-evenly;
}
.product__specs__text {
  width: 50%;
  padding: 40px 0px;
}
.product__specs__text ul {
  list-style: none;
}
.product__specs__text ul li {
  font-size: 1.7rem;
}
.product__specs__price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 0px;
}
.product__specs__price--price {
  font-size: 3rem;
}
.product__specs__price span {
  cursor: pointer;
}
.product__specs__price .number {
  display: flex;
}
.product__specs__price .number .minus,
.product__specs__price .number .plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background: #d4d4d4;
  color: black;
  border-radius: 4px;
  font-size: 2.5rem;
  border: 1px solid #ddd;
  text-align: center;
}
.product__specs__price .number input {
  height: 34px;
  width: 50px;
  text-align: center;
  font-size: 2rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}
.product__bottomSection {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 50px;
  padding: 40px 20px;
  border-top: 2px solid #d4d4d4;
}
.product__bottomSection--headline {
  font-size: 3rem;
}
.product__bottomSection--text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 20px;
}
.product__bottomSection--text i {
  font-size: 10rem;
  margin-right: 30px;
}
.product__bottomSection img {
  width: 500px;
}
.product__bottomSection--table {
  border-collapse: collapse;
  border-radius: 8px;
}
.product__bottomSection--table tbody tr,
.product__bottomSection--table tbody td {
  width: 20%;
  height: 40px;
  padding: 10px;
  font-size: 2rem;
  text-align: center;
  border: 3px solid #24242d;
  border-radius: 5px;
}
.product__bottomSection--table tbody tr .table-headline,
.product__bottomSection--table tbody td .table-headline {
  font-weight: bold;
}

.login-or-register {
  position: absolute;
  width: 1000px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-or-register__login {
  height: 450px;
  width: 400px;
  padding: 20px 40px;
  background-color: #24242d;
  border-radius: 8px;
}
.login-or-register__login form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.login-or-register__login form h2 {
  font-size: 2.5rem;
}
.login-or-register__login form input {
  height: 45px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background: none;
  border-bottom: 2px solid rgb(38, 163, 201);
  text-align: center;
  color: #d4d4d4;
  font-size: 2rem;
  outline-color: #363644;
}
.login-or-register__login form .remember-password {
  color: rgb(38, 163, 201);
  font-size: 1.5rem;
}
.login-or-register__login form .submitBtn {
  height: 40px;
  width: 100%;
  margin-top: 0;
  transition: transform 0.3s;
}
.login-or-register__login form .submitBtn:hover {
  transform: scale(1.1);
}
.login-or-register__login form .error {
  display: none;
}
.login-or-register__others {
  height: 90%;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.login-or-register__others--element {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.login-or-register__others--element h2 {
  font-size: 2.6rem;
}
.login-or-register__others--element p {
  font-size: 1.7rem;
  margin: 0;
}
.login-or-register__others--element p i {
  margin-right: 5px;
}
.login-or-register__others--element .noLoginBtn {
  width: 100%;
  color: rgb(38, 163, 201);
  background: none;
  box-shadow: none;
  margin: 0;
  border: 2px solid rgb(38, 163, 201);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}
.login-or-register__others--element .noLoginBtn:hover {
  background-color: rgb(38, 163, 201);
  color: #d4d4d4;
  transform: scale(1);
}

.reviews__box {
  position: relative;
  margin: 2em;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgb(38, 163, 201);
  transition: transform 0.3s;
}
.reviews__box:hover {
  transform: scale(0.95);
}
.reviews__box-img {
  position: absolute;
  top: 8%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.reviews__box-img img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.reviews__box-quote {
  margin-bottom: 1em;
  font-size: 3rem;
  color: #d4d4d4;
}
.reviews__box-text {
  margin-bottom: 1em;
  font-size: 1.4rem;
  color: #d4d4d4;
}

.login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url(../img/whiskey-2171646_1920.jpg);
  background-size: cover;
  background-position: bottom;
}
.login__shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.login__field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 500px;
  padding: 25px 40px;
  background-color: #121217;
  border-radius: 10px;
}
.login__field--back {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 20px;
  font-size: 3rem;
  color: #d4d4d4;
  transition: transform 0.3s;
}
.login__field--back:hover {
  transform: scale(0.8);
}
.login__field--logo img {
  height: 100px;
}
.login__field--paragraph {
  display: flex;
  gap: 5px;
  font-size: 1.7rem;
}
.login__field--paragraph a {
  color: rgb(38, 163, 201);
}
.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.login__form--input {
  height: 45px;
  width: 85%;
  border-radius: 10px;
  border: none;
  background: none;
  border-bottom: 2px solid #363644;
  text-align: center;
  color: #d4d4d4;
  font-size: 2rem;
  outline-color: #363644;
}
.login__form--input::-moz-placeholder {
  font-size: 1.8rem;
  color: #a3a3a3;
}
.login__form--input::placeholder {
  font-size: 1.8rem;
  color: #a3a3a3;
}
.login__form--error {
  display: none;
}
.login__form--checkbox {
  display: flex;
  gap: 5px;
}
.login__form--options {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  gap: 20px;
}
.login__form--options .remember_label {
  font-size: 1.8rem;
}
.login__form--options .remember_box {
  height: 25px;
  width: 25px;
  accent-color: rgb(38, 163, 201);
  cursor: pointer;
}
.login__form--options a {
  font-size: 1.8rem;
  color: rgb(38, 163, 201);
}
.login__form--send {
  width: 60%;
  height: 10%;
  background-color: #363644;
  font-size: 2rem;
  color: #d4d4d4;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline-color: #363644;
}
.login__form--remindParagraph {
  visibility: hidden;
  font-size: 2rem;
  color: #747a99;
}

.register__popup {
  visibility: hidden;
  position: absolute;
  height: 150px;
  width: 40%;
  padding: 20px;
  background-color: #363644;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #282d50;
}
.register__popup--container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.register__popup--container button {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  background: none;
  border: none;
  cursor: pointer;
}
.register__popup--container i {
  color: #d4d4d4;
  font-size: 2.8rem;
}
.register__popup--p {
  font-size: 2rem;
}
.register__field {
  width: 650px;
  height: 630px;
}
.register__form {
  height: 60%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.register__form--input {
  width: 47%;
}
.register__form--number {
  display: flex;
  gap: 7px;
  width: 47%;
}
.register__form--number--2 {
  width: 100%;
}
.register__form--error {
  visibility: hidden;
  margin-top: 5px;
}
.register__form--send {
  width: 50%;
  height: 10%;
  margin-top: 5px;
}

.remind__field {
  width: 450px;
  height: 400px;
}
.remind__form--send {
  height: 50px;
}

.popup {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 50%;
  top: 50%;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  background-color: #24242d;
  border-radius: 10px;
  z-index: 60;
  display: none;
}
.popup p {
  font-size: 3rem;
}

.user {
  height: 80vh;
  width: 100%;
  display: flex;
  padding-top: 20px;
}
.user__popup {
  width: 700px;
  height: 500px;
}
.user__popup form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
.user__popup form label {
  font-size: 2rem;
}
.user__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 20%;
  min-width: 300px;
  margin-left: 40px;
  border-right: 2px solid rgb(38, 163, 201);
}
.user__menu--item {
  width: 250px;
  padding: 20px 5px;
  font-size: 20px;
  color: #d4d4d4;
  text-align: center;
}
.user__menu--adminPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 250px;
  padding: 20px;
  color: #d4d4d4;
  font-size: 2rem;
  background-color: #363644;
  border-radius: 8px;
}
.user__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80%;
}

.admin__menu {
  width: 25%;
}
.admin__menu--item {
  width: 300px;
}
.admin__headline {
  font-size: 3rem;
  margin: 0 auto;
}
.admin__section {
  height: 99%;
  width: 75%;
}
.admin__section--delete {
  justify-content: center;
}
.admin__deleteSection {
  justify-content: center;
}
.admin__add {
  width: 95%;
  margin: 10px 25px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.admin__add--addBtn {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: rgb(38, 163, 201);
  color: #d4d4d4;
  font-size: 1.7rem;
  cursor: pointer;
  transition: transform 0.2s;
}
.admin__add--addBtn:hover {
  transform: scale(1.1);
}
.admin__popup {
  visibility: hidden;
  position: absolute;
  height: 90%;
  width: 720px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #24242d;
  border-radius: 8px;
  z-index: 40;
  box-shadow: 0px 0px 10px 5px #282d50;
  overflow: scroll;
  overflow-x: hidden;
}
.admin__popup--shadow {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
}
.admin__formContainersBox {
  width: 50px;
  height: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.admin__formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.admin__formContainer .addParamBtn {
  height: 30px;
  width: 30px;
  background: none;
  border: 2px solid rgb(38, 163, 201);
  color: rgb(38, 163, 201);
  border-radius: 8px;
}
.admin__formContainer select {
  color: #d4d4d4;
}
.admin__contentContainer {
  position: relative;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.admin__contentContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin__contentContainer--userForm {
  height: 80%;
  width: 99%;
}
.admin__contentContainer--closeBtn {
  position: fixed;
  right: 0;
  top: 0;
  margin: 10px;
  padding: 10px;
  font-size: 2.5rem;
  border: none;
  background: none;
  color: #d4d4d4;
  cursor: pointer;
}
.admin__contentContainer label {
  font-size: 2rem;
  margin-top: 10px;
}
.admin__contentContainer--input {
  height: 40px;
  width: 250px;
  padding: 0 10px;
  color: #d4d4d4;
  background: none;
  border: 2px solid rgb(38, 163, 201);
  font-size: 1.5rem;
  border-radius: 8px;
}
.admin__contentContainer--textarea {
  height: 150px;
  width: 250px;
  padding: 10px;
  color: #d4d4d4;
  font-size: 1.5rem;
  background: none;
  border: 2px solid rgb(38, 163, 201);
  border-radius: 8px;
}
.admin__contentContainer--file {
  height: 50px;
  width: 230px;
  font-size: 1.5rem;
}
.admin__contentContainer--addProduct {
  height: 50px;
  width: 200px;
  margin-top: 15px;
  border-radius: 8px;
  color: #d4d4d4;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 2rem;
  border: none;
  background-color: rgb(38, 163, 201);
  box-shadow: 0px 0px 10px 5px #282d50;
  cursor: pointer;
  transition: transform 0.3s;
}
.admin__contentContainer--addProduct:hover {
  transform: scale(1.1);
}
.admin__contentContainerProduct {
  height: auto;
  min-height: 800px;
}
.admin__contentContainerUser {
  height: auto;
  min-height: 1000px;
}
.admin__editContainer {
  width: 650px;
  height: 630px;
}
.admin__editContainer form {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.admin__products {
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
.admin__categories {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px 25px;
  overflow: scroll;
  overflow-x: hidden;
}
.admin__category {
  width: 200px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0px 15px;
  background-color: #363644;
  border-radius: 8px;
}
.admin__product {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2em;
  align-items: center;
  width: 95%;
  height: 120px;
  padding: 0 15px;
  margin: 10px 25px;
  background-color: #363644;
  border-radius: 8px;
}
.admin__product--img {
  width: 100px;
  height: 100px;
  grid-column: 1/2;
  grid-row: 1/2;
}
.admin__product--name {
  text-wrap: nowrap;
  font-size: 2rem;
  grid-column: 2/3;
  grid-row: 1/2;
}
.admin__product--edit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  grid-column: 6/7;
  grid-row: 1/2;
}
.admin__product--delete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  grid-column: 7/8;
  grid-row: 1/2;
}
.admin__payment {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.admin__payment--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.admin__editorContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.admin__editorContainer--headline {
  margin-top: 40px;
  font-size: 3rem;
}
.admin__editor {
  height: 75vh;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.admin__editor--addons {
  height: 60%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.admin__editor--textArea {
  padding: 10px;
  width: 66%;
  font-size: 2rem;
  background-color: #24242d;
  border-radius: 8px;
}
.admin__editor--textArea .ce-toolbar__plus,
.admin__editor--textArea .ce-toolbar__settings-btn {
  background-color: #fff;
}
.admin__inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.admin__inputContainer label {
  font-size: 2.2rem;
}

.order {
  display: flex;
  justify-content: center;
}
.order__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.order__right {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
}
.order__right--buySection {
  position: fixed;
}
.order h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.order__delivery {
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgb(38, 163, 201);
}
.order__delivery--form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.order__delivery--form .cart-error {
  display: none;
}
.order__delivery--form .delivery-option {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
}
.order__delivery--form .delivery-option input[type=radio] {
  border: 0px;
  width: 2rem;
  height: 2rem;
}
.order__delivery--form .delivery-option label {
  font-size: 2rem;
  color: #d4d4d4;
}
.order__delivery--form .delivery-option p {
  position: absolute;
  font-size: 1.7rem;
  margin: 0;
  right: 20px;
  color: #d4d4d4;
}
.order__personOption {
  display: flex;
  gap: 30px;
}
.order__personOption .person-option {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.order__personOption .person-option input[type=radio] {
  border: 0px;
  width: 2rem;
  height: 2rem;
}
.order__personOption .person-option label {
  font-size: 2rem;
  color: #d4d4d4;
}
.order__address {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order__address--form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.order__address--inputBox {
  width: 100%;
}
.order__address--inputBox .address-input {
  display: flex;
  height: 50px;
  width: 100%;
  font-size: 2rem;
  color: #d4d4d4;
  padding: 10px;
  background: none;
  border-radius: 10px;
  border: 2px solid rgb(38, 163, 201);
}
.order__address--inputBox .address-input::-moz-placeholder {
  font-size: 2rem;
}
.order__address--inputBox .address-input::placeholder {
  font-size: 2rem;
}
.order__address--inputBox--error {
  visibility: hidden;
}
.order__address .invoiceInfo {
  font-size: 1.7rem;
}
.order__address .invoiceInfo .ti-info-circle {
  font-size: 2rem;
  margin-right: 5px;
}
.order__address--checkboxBox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.order__address--checkboxBox input[type=checkbox] {
  border: 0px;
  width: 2rem;
  height: 2rem;
}
.order__address--checkboxBox input[type=checkbox]:checked {
  background-color: rgb(38, 163, 201);
}
.order__address--checkboxBox label {
  font-size: 1.7rem;
  color: #d4d4d4;
}
.order__address--invoceData {
  width: 100%;
  display: flex;
  flex-direction: column;
  display: none;
  margin-top: 15px;
}
.order__agreements {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.visible {
  visibility: visible;
}

.display-flex {
  display: flex;
}

@media (max-width: 768px) {
  .login__field {
    height: 100%;
    width: 100%;
    border-radius: 0px;
    padding: 40px 30px;
  }
  .login__field--paragraph {
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
  }
  .login__form {
    justify-content: space-evenly;
  }
  .login__form--options {
    height: 80px;
    line-height: normal;
    flex-wrap: wrap;
  }
  .login__form--options .remember_label {
    font-size: 2rem;
    margin-left: 0px;
    margin-right: 0px;
  }
  .login__form--options .remember_box {
    height: 25px;
    width: 25px;
    accent-color: #363644;
    cursor: pointer;
  }
  .login__form--options a {
    font-size: 2rem;
  }
  .register {
    height: 1000px;
    width: 100%;
    overflow: scroll;
  }
  .register__popup {
    width: 80%;
  }
  .register__field {
    width: 100%;
    height: 100%;
  }
  .register__form {
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
  }
  .register__form--input {
    width: 70%;
  }
  .register__form--number {
    width: 70%;
  }
}
@media (max-width: 992px) {
  .nav__mobile {
    display: block;
  }
  .nav__desktop {
    display: none;
  }
  .user {
    height: 100vh;
    padding: 10px 10px;
  }
}
@media (max-width: 1200px) {
  .nav__item {
    padding: 10px;
    font-size: 1.7rem;
  }
  .nav__dropdown {
    width: 80%;
    height: 400px;
    top: 68px;
  }
  .nav__dropdown--one {
    left: 90px;
  }
  .nav__dropdown--two {
    left: 230px;
  }
  .nav__dropdown--three {
    left: 290px;
  }
  .nav__dropdown--left a {
    font-size: 1.7rem;
  }
  .nav__dropdown--right img {
    width: 130px;
    height: 180px;
  }
  .nav__dropdown--right p {
    margin-top: 20px;
    font-size: 1.8rem;
  }
  .nav__user--cart i {
    font-size: 2.5rem;
  }
  .nav__user--search {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px;
  }
  .nav__user--search input {
    width: 140px;
  }
}
@media (max-width: 1400px) {
  .admin__menu--item {
    width: 230px;
  }
}/*# sourceMappingURL=main.css.map */