$main-color: #121217;
$secondary-color: #24242d;
$menu-color: #1d1d24;
$third-color: #363644;
$bright-text-color: #747a99;
$bright-button-color: rgb(38, 163, 201);
$shadow-color: #282d50;
$main-white: #d4d4d4;
$pure-black: black;
$bright-color: rgb(38, 163, 201);
$darker-white: #a3a3a3;
$error-red: rgb(255, 58, 58);
// $main-color: #313866;
// $secondary-color: #614faf;
// $third-color: #974EC3;
// $bright-text-color: #d857e9;
// $bright-button-color: #c452d3;
// $shadow-color: #282d50;
// $main-white: #d4d4d4;
// $pure-black: black;
// $menu-color: #887ac9;
// $darker-white: #a3a3a3;
// $error-red: rgb(255, 58, 58);