$main-color: #313866;
$secondary-color: #614faf;
$third-color: #974EC3;
$shadow-color: #282d50;
$main-white: #d4d4d4;
$pure-black: black;
$menu-color: #887ac9;
$darker-white: #a3a3a3;
$error-red: rgb(255, 58, 58);