.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

// LINK ANIMATION

.link {
	position: relative;
	text-decoration: none;
}

.link,
.link::after,
.link::before {
	transition: 0.3s;
}

.link-animation::before,
.link-animation::after {
	content: '';
	position: absolute;
	width: 0;
	bottom: 0;
	border-bottom: 2px solid #fff;
}

.link-animation::before {
	right: 50%;
}

.link-animation::after {
	left: 50%;
}

.link-animation:hover::before,
.link-animation:hover::after {
	width: 50%;
}

// LINK ANIMATION 2
 
.link-animation-two::before,
.link-animation-two::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
}

.link-animation-two::before {
	top: -1px;
	left: -5px;
	border-top: 0 solid #fff;
	border-left: 0 solid #fff;
}
.link-animation-two::after {
	bottom: -1px;
	right: -5px;
	border-bottom: 0 solid #fff;
	border-right: 0 solid #fff;
}

.link-animation-two:hover::before,
.link-animation-two:hover::after {
	width: 50px;
	height: 50%;
}

.link-animation-two:hover::before {
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
}

.link-animation-two:hover::after {
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
}

// BUTTON ANIMATION

.button-in {
	border: none;
	transition: 0.5s;
}

.button-in:hover {
	box-shadow: 2px 3px 0 0 rgba(255, 255, 255, 0.8),
		inset 11px 6px 10px rgba(0, 0, 0, 0.2);
}


@keyframes dropdownAnimation {
	0% {
		top: 0;
		opacity: 0;
	}

	100% {
		top: 53px;
		opacity: 1;
	}
}

