@use './colors' as *;
@use './components' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	color: $main-white;
	background-color: $main-color;
}

a {
	text-decoration: none;
}

.error {
	font-size: 1.6rem;
	color: $error-red;
}

// NAV

.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 65px;
	background-color: $secondary-color;
	margin: 30px auto;
	padding: 0px 60px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 10px $shadow-color;
	overflow: hidden;

	&__items {
		width: 80%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	&__item {
		position: relative;
		height: 50px;
		padding: 20px;
		margin: 5px;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
		line-height: 10px;
		font-size: 1.9rem;
		color: $main-white;
		outline-color: $main-white;
		outline-width: 1px;
		&--logo {
			background-image: url(../img/logo_with_brandname.png);
			background-size: cover;
			height: 130px;
			min-width: 130px;
		}
	}

	&__user {
		width: 25%;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		padding-left: 30px;
		&--cart {
			padding: 15px;
			transition: transform 0.3s;
			i {
				font-size: 3rem;
				color: $main-white;
			}
		}
		&--cart:hover {
			transform: scale(1.3);
		}

		&--search {
			position: relative;
			display: flex;
			align-items: center;
			// transition: transform 0.3s;
			input {
				width: 200px;
				height: 40px;
				padding: 10px;
				font-size: 1.7rem;
				background-color: $menu-color;
				border: none;
				border-radius: 10px;
				color: $main-white;

				&::placeholder {
					color: $main-white;
					font-size: 1.7rem;
				}
			}
			i {
				position: absolute;
				right: 0;
				font-size: 2.5rem;
				color: $main-white;
				padding: 7px;
				cursor: pointer;
			}
		}
	}
}

// LOGIN

.login {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background-image: url(../img/sunrise-982013_1920.jpg);
	background-size: cover;
	background-position: bottom;

	&__shadow {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba($color: $main-color, $alpha: 0.5);
	}

	&__field {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 450px;
		height: 500px;
		padding: 25px 40px;
		background-color: rgba($color: $main-color, $alpha: 0.8);
		border-radius: 10px;
		box-shadow: 0px 0px 10px 5px $shadow-color;

		&--back {
			position: absolute;
			left: 0;
			top: 0;
			padding: 10px 20px;
			font-size: 3.5rem;
			color: $main-white;
		}

		&--logo {
			img {
				height: 100px;
			}
		}
		&--paragraph {
			display: flex;
			gap: 5px;
			font-size: 1.7rem;

			a {
				color: $third-color;
			}
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 100%;
		width: 100%;

		&--input {
			height: 45px;
			width: 85%;
			border-radius: 10px;
			border: none;
			background: none;
			border-bottom: 2px solid $third-color;
			text-align: center;
			color: $main-white;
			font-size: 2rem;
			outline-color: $third-color;

			&::placeholder {
				font-size: 1.8rem;
				color: $darker-white;
			}
		}

		&--error {
			display: none;
		}
		&--checkbox {
			display: flex;
			gap: 5px;
		}

		&--options {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 10px;
			width: 100%;
			gap: 20px;
			// line-height: 50px;

			.remember_label {
				font-size: 1.8rem;
				// margin-left: 30px;
				// margin-right: 5px;
			}

			.remember_box {
				height: 25px;
				width: 25px;
				accent-color: $third-color;
				cursor: pointer;
			}
			a {
				font-size: 1.8rem;
				color: $third-color;
			}
		}
		&--send {
			width: 60%;
			height: 10%;
			background-color: $third-color;
			font-size: 2rem;
			color: $main-white;
			// margin: 15px;
			border: none;
			border-radius: 8px;
			cursor: pointer;
			outline-color: $third-color;
		}
	}
}

// REGISTER

.register {
	&__field {
		width: 650px;
		height: 630px;
	}

	&__form {
		height: 60%;
		width: 100%;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin-bottom: 15px;

		&--input {
			width: 47%;
		}

		&--number {
			display: flex;
			gap: 7px;
			width: 47%;

			&--1 {
				width: 25%;
			}
			&--2 {
				width: 75%;
			}
		}
		&--error {
			visibility: hidden;
			margin-top: 5px;
		}
		&--send {
			width: 50%;
			height: 10%;
			margin: 0px;
		}
	}
}

@media (max-width: 576px) {
	.login {
		&__field {
			height: 100%;
			width: 100%;
			border-radius: 0px;
			padding: 40px 30px;
			&--paragraph {
				flex-direction: column;
				align-items: center;
				font-size: 2rem;
			}
		}

		&__form {
			justify-content: space-evenly;
			&--options {
				// gap: 30px;
				height: 80px;
				line-height: normal;
				flex-wrap: wrap;
				.remember_label {
					font-size: 2rem;
					margin-left: 0px;
					margin-right: 0px;
				}

				.remember_box {
					height: 25px;
					width: 25px;
					accent-color: $third-color;
					cursor: pointer;
				}
				a {
					font-size: 2rem;
				}
			}
		}
	}

	.register {
		height: 1000px;
		overflow: scroll;
		&__field {
			width: 100%;
			height: 100%;
		}

		&__form {
			flex-direction: column;
			height: 100%;
			width: 100%;
			flex-wrap: nowrap;

			&--input {
				width: 80%;
			}

			&--number {
				display: flex;
				gap: 7px;
				width: 60%;
			}
		}
	}
}

@media (min-width: 577px) and (max-width: 768px) {
	.login {
		&__field {
			height: 100%;
			width: 100%;
			border-radius: 0px;
			padding: 40px 30px;
			&--paragraph {
				flex-direction: column;
				align-items: center;
				font-size: 2rem;
			}
		}

		&__form {
			justify-content: space-evenly;
			&--options {
				// gap: 30px;
				height: 80px;
				line-height: normal;
				flex-wrap: wrap;
				.remember_label {
					font-size: 2rem;
					margin-left: 0px;
					margin-right: 0px;
				}

				.remember_box {
					height: 25px;
					width: 25px;
					accent-color: $third-color;
					cursor: pointer;
				}
				a {
					font-size: 2rem;
				}
			}
		}
	}

	.register {
		height: 1000px;
		overflow: scroll;
		&__field {
			width: 100%;
			height: 100%;
		}

		&__form {
			flex-direction: column;
			height: 100%;
			width: 100%;
			flex-wrap: nowrap;

			&--input {
				width: 70%;
			}

			&--number {
				display: flex;
				gap: 7px;
				width: 60%;
			}
		}
	}
}
